html,body{
    height: 100%;
}
.page{
    width: 90%;
    margin: 0 auto;
    padding-top:50px;
    position: relative;
}

.navbar{
    position: absolute;
    top: 100px;
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: 99;
}

.navbar figure{
    margin: 6px;
    max-width: 64px;
    cursor: pointer;
}

.navbar figure figcaption{
    text-align: center;
    color: #fff;
    margin-top: -5px;
}

@media screen and (max-width:500px){
    .page{
        margin-top: 20px;
    }
    .navbar{
        flex-direction: row;
        top:0;
        left: -10px;
    }
}

